body{
    margin: 0px;
}
button:active{
    border: 0px solid #ffffff;
}
button:focus{
    border: 0px solid #ffffff;
    outline: none;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.folder{
    position: absolute;
    top: 8px;
    left: 16px;

    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 3px 4px;
    background-image: url('/nftart/images/icon-folder@3x.png');
    width: 42px;
    height: 42px;
    border: 2px solid #dddddd;
    border-radius: 8px;
    background-color: #ffffff;
    /* background-color: #000000; */
}
.folded{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 999999;
}
.forfolder{
    width: 42px;
    height: 42px;
}

.select{
    font-size: 14px;
}
.audio{
    width: 120px;
    height: 30px;
    border: 1px solid #aaaaaa;
    border-radius: 20;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-right: 20px;
}
.recording{
    background-color: #ff8888;
    color: #ffffff;
}
.monitoring{
    width: 80;
    height: 40;
}
.debug{
    position:absolute;
    top: 100;
    left: 100;
    width: 200;
    height: 800;
    background-color: #ffffff;
}
.operations{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60;
    background-color:#eeeeee;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container{
    background-color: #ffffff;
}
.recording{
    /* background-color: #ff8888; */
    /* color: #fefefe; */
}
.monitors{
    position:absolute;
    display: flex;
    width: 100%;
    height: 80;
    bottom: 0px;
    background-color: rgba(200, 200, 200, 0);
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid #e0e0e0; */
}
.fftmonitor{
    width: 24%;
    height: 80;
    margin-right: 2px;
}
.artmonitor{
    width: 50%;
    height: 80;
}
.metermonitor{
    width: 2%;
    height: 80;
}

.red{color: #ff0000;}
.green{color: #00ff00;}
.blue{color: #0000ff;}
.yellow{color: #ffff00;}
.lblue{color: #00ffff;}
.purple{color: #ff00ff;}
.black{color: #000000;}

.fftdisplay{
    width: 300;
    height: 100;;
}
.fftcanvas{
    width: 25%;
    height: 80;
}