body{
    margin: 0px;
}
button:active{
    border: 0px solid #ffffff;
}
button:focus{
    border: 0px solid #ffffff;
    outline: none;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.folder{
    position: absolute;
    top: 8px;
    left: 16px;

    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 3px 4px;
    background-image: url('/nftart/images/icon-folder@3x.png');
    width: 42px;
    height: 42px;
    border: 2px solid #dddddd;
    border-radius: 8px;
    background-color: #ffffff;
    /* background-color: #000000; */
}
.folded{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 999999;
}

.select{
    font-size: 14px;
}
.audio{
    width: 160px;
    height: 30px;
    border: 0px solid #aaaaaa;
    border-radius: 20;
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-right: 20px;
}
.operations{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60;
    background-color:#eeeeee;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: #ffffff;
}
.recording{
    /* background-color: #ff8888; */
    /* color: #fefefe; */
}
.monitors{
    position:absolute;
    display: flex;
    width: 100%;
    height: 80;
    bottom: 0px;
    background-color: #aaaaaa;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e0e0e0;
}
.fftmonitor{
    width: 33%;
}

.red{color: #ff0000;}
.green{color: #00ff00;}
.blue{color: #0000ff;}
.yellow{color: #ffff00;}
.lblue{color: #00ffff;}
.purple{color: #ff00ff;}
.black{color: #000000;}
