.audio{
    width: 400px;
    height: 50px;
    border: 1px solid #aaaaaa;
    border-radius: 20;
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recording{
    background-color: #ff8888;
    color: #fefefe;
}